# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# App Config
config.json
.Trash/

# PyInstaller
build/
dist/
*.spec.bak

# Python cache
__pycache__/
*.pyc